.container {
   display: grid; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 600;
   text-align: center;
   gap: 10px;
   padding: 40px;
   margin: 50px;
   
    
}




.header { 
    background-color: pink;
    padding: 10px;
    justify-items: center;
    border-radius: 5px;
    
}

.aside1 {
    background-color: rgb(111, 138, 192);
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}


.article {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(157, 194, 157);
    align-items: center;
    text-align: center;
    padding: 20px;
    column-gap: 10px;
    align-items: end;
    
    

}

.column1 {
    border: 15px solid darkslategray;
    background-color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    align-items: end;

}

.column2 {
    border: 15px solid darkslategray;
    background-color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    align-items: end;
   
    
}

.column3 {
    border: 15px solid darkslategray;
    background-color: darkslategray;
    padding: 10px;
    border-radius: 5px;
    align-items: end;
    
    

}

.aside2 {
 background-color: rgb(111, 138, 192);
 align-items: center;
 padding: 10px;
 border-radius: 5px;

}


.footer {
    background-color: rgb(237, 243, 149);
    align-items: center;
    padding: 10px;
    border-radius: 5px;


}



@media only screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-areas:
        "header header header"
        "aside1 article aside2"
        "footer footer footer" ;

        grid-template-columns: 2fr 4fr 2fr ;
        grid-template-rows: auto 1fr auto;
        gap: 10px;
        min-height: 100vh;
    }

    .header {
        grid-area: header;
    }

    .aside1 {
        grid-area: aside1;
    }

    .article {
        grid-area: article;
    }

    .aside2 {
        grid-area: aside2;
    }

    .footer {
        grid-area: footer;
    }

    
 
}