.container {
   display: grid; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 600;
   text-align: center;
   gap: 10px;
   padding: 40px;
   margin: 50px;
   
    
}




.header { 
    background-color: pink;
    padding: 10px;
    justify-items: center;
    
}

.aside1 {
    background-color: rgb(111, 138, 192);
    align-items: center;
    padding: 10px;
}


.article {
    display: grid;
    grid-template: 1fr repeat(3, 1fr);
    background-color: rgb(157, 194, 157);
    align-items: center;
    padding: 20px;
    row-gap: 10px;
    
    

}

.article1 {
    border:  solid darkslategray;
    background-color: darkslategray;
    padding: 5px;

}

.article2 {
    border: 5px solid darkslategray;
    background-color: darkslategray;
    padding: 5px;
    
}

.article3 {
    border: 5px solid darkslategray;
    background-color: darkslategray;
    padding: 5px;

}

.aside2 {
 background-color: rgb(111, 138, 192);
 align-items: center;
 padding: 10px;

}


.footer {
    background-color: rgb(237, 243, 149);
    align-items: center;
    padding: 10px;


}